# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.env.*

# Node / React
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.log
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db